body {
    margin: 0;
    font-family: 'å¾®è»Ÿæ­£é»‘é«”', sans-serif;
    background-color: #000000;
}

img {
    max-width: 100%;
    height: auto;
}

a:hover {
    text-decoration: none;
}


/* ------ å½±ç‰‡ ------ */

.video-area {
    padding: 5% 20%;
    background-color: #272727;
}

.video-container {
    position: relative;
    padding: 30%;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* ------ç”¢å“ä»‹ç´¹å€å¡Š ------*/

.creative_area {
    padding: 50px 0 100px 0;
    background-color: #fff;
}

.creative_area h2 {
    color: #6fafb4;
    margin: 20px 0 60px 0;
}

.creative_area .card img {
    width: 100%;
}

.creative_area .card h4 {
    color: #fff;
}


/* æŠŠæ¨™é¡Œå€å¡Šcard-title-wrapè¨­å®šå¥½ä½ç½® */

.creative_area .card-title-wrap {
    padding: 15px 25px;
    position: relative;
    z-index: 9;
    background-color: #fff;
}


/* è¨­å®šç”¢å“èªªæ˜Žæ–‡å­—æ¨™é¡Œ */

.creative_area .card-title-wrap .card-title {
    display: block;
    margin: 0;
    font-size: 24px;
    color: #333;
}

.creative_area .card-title-wrap .card-text {
    display: block;
    margin: 0;
    font-size: 18px;
    color: #335
}


/* æ»‘é¼ æ»‘éŽåŽ»  */

.creative_area .card:hover {
    visibility: visible;
    background-color: #6fafb4;
}

.creative_area .card:hover .card-title-wrap {
    background-color: #6fafb4;
}


/* æ»‘é¼ æ»‘éŽç…§ç‰‡è®Šé€æ˜Ž */

.creative_area .pic-hover {
    padding-top: 45px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.creative_area .card:hover .pic-hover {
    opacity: .8;
    visibility: visible;
    color: #FFFFFF;
}


/* å•†å“æ–‡æ¡ˆ */

.article_text h3 {
    color: #ffffff;
    margin: 10px 0;
    letter-spacing: .5rem;
}

.article_text h1 {
    color: #6fafb4;
    margin: 10px 0;
}

.article_text p {
    color: #dbdddd;
    line-height: 2rem;
    letter-spacing: 0.2rem;
    margin-bottom: 50px;
}


/* ------ èƒŒæ™¯å½±ç‰‡ ------ */

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    /* max-width æœƒè®“å½±éš¨è‘—èž¢å¹•å¤§å°æ”¹è®Šï¼Œ
    min-widthå°±åªæœƒç¶­æŒå½±ç‰‡åŽŸå°ºå¯¸! */
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    opacity: .5;
}


/* å•†å“ä¿ƒéŠ·æ´»å‹• */

.activity_area {
    background-color: #ffffff;
    padding: 150px 0;
    padding: 150px 0;
}

.activity_price {
    margin: 50px 0;
}

.activity_price span {
    color: #db3a55;
    font-size: 5rem;
}

.activity_price h1 {
    margin: 20px 0;
    color: #969696;
}

.activity_price h2 {
    color: #3e3f3f;
}


/* è¦æ ¼ */

.standard_area {
    background-color: #FFFFFF;
}

.standard_use {
    list-style-type: decimal;
}

.standard_use li {
    font-size: 16px;
    line-height: 1.5rem;
    text-align: justify;
    margin-bottom: 15px;
    color: #3e3f3f;
}


/* è²¼å¿ƒæé†’ */

.content {
    position: relative;
    bottom: 0;
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

.remind {
    padding: 20px;
    background: rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
}


/* é è…³ */

.footer {
    background-color: #e6e6e6;
    padding: 15px 0;
}

.footer_logo img {
    max-width: 100px;
}

.footer_address ul {
    list-style-type: none;
    font-size: 14px;
    line-height: 1.2rem;
    color: #5e5e5e;
}

.footer_copyright {
    font-size: 10px;
}